footer, main {
    margin: auto;
    max-width: 75vw;
    display: block;
}

/* header, footer, main, nav {
    margin: auto;
    max-width: 75vw;

} */

header, footer {
    background-color: #29524a;
    color: white;
    text-align: center;
    padding: 10px;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headings {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Merriweather', serif;
    /* font-family: 'Ubuntu', sans-serif; */
    font-size: 20px;
    margin: 2px 0;
    padding-top: 10px;
}

#logo {
    height: 50px;
    width: auto;
    float: left;
    z-index: 100;
}

.motto {
    font-family: 'Merriweather', serif;
}

nav {
    margin: 0 auto;
    height: 20px;
    box-shadow: 0 2px 15px gray;
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    list-style: none;
    flex-flow: column;
	margin: 0;
	padding: 0;
	overflow: overlay;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: black;
    padding: 1rem;
	text-align: left;
    text-decoration: none;
    background-color: #90aa86;
    font-size: 0.95rem;
    font-weight: bolder;
    font-family: 'Merriweather', serif;
    /* font-family: 'Ubuntu', sans-serif; */
}

.navigation a:hover {
	background-color: #b8ccc5;
    color: black;
    font-weight: bolder;
}

.responsive li {
    display: block;
}

nav .active {
    color:#4F0892;
    font-weight: bolder;
}

.placeholder {
    padding: 1rem;
    margin: 1rem;
    background-color: #b8ccc5;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

footer p {
    font-family: 'Merriweather', serif;
}