h1, h2 {
    text-align: center;
    color: rgb(3, 3, 116);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.cards section {
    align-items: center;
    margin: 3px;
    padding: 15px;
    border: 1px solid rgb(3, 3, 116);
    background-color: rgb(187, 187, 190);
}

.cards p {
    text-align: center;
}

.cards img {
    box-shadow: 0 0 10px black;
    width: 100%;
    border-style: none;
}