@media only screen and (min-width: 60em) {
    header {
        height: 100px;
    }

    h1 {
        font-size: 60px;
    }

    #logo {
        height: 100px;
    }

    .motto {
        font-size: 20px;
    }

    .announceParagraph {
        font-size: 30px;
    }

    nav {
	text-align: center;
    }

    .navigation { 
        display: flex; 
        flex-flow: row;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li { 
        display: block;
        flex: 1 1 100%; 
    }

    nav a {
		font-size: 1.1rem;
    }

    h2 {
        font-size: 35px;
    }

    .galleryimages {
        grid-template-columns: 1fr 1fr 1fr;
    }

    figure:hover {
        box-shadow: 0 0 50px #333;
    }
/* 
    #heroarea img {
        width: 1250px;
    } */

    .cards {
        display: grid;
        /*d-template-columns: repeat(auto-fit, minmax(240px, 1fr));*/
        grid-template-columns: 1fr 1fr 1fr;
    }

    .weathersummary {
        top: 25px;
        left: 50px;
        padding: 15px;
    }

    h3 {
        font-size: 1.17em;
    }

    .suminfo {
        font-size: 15px;
    }

    .sumsun, .sumtemp, .sumchill, .sumhumid, .sumspeed {
        font-size: 15px;
    }

    #contactimg {
        height: 300px;
    }

    .contactaddress {
        margin-left: 200px;
    }
}