@media only screen and (min-width: 32.5em) {
    header {
        height: 75px;
    }

    h1 {
        font-size: 40px;
    }

    #logo {
        height: 75px;
    }

    .motto {
        font-size: 15px;
    }

    .announceParagraph {
        font-size: 20px;
    }
    
    nav a {
        font-size: 1rem;
    }

    h2 {
        font-size: 30px;
    }

    .galleryimages {
        grid-template-columns: 1fr 1fr;
    }
/* 
    #heroarea img {
        width: 800px;
    } */
 
    .weathersummary {
        top: 15px;
        left: 25px;
        padding: 10px;
    }

    .suminfo {
        font-size: 12px;
    }

    .sumsun, .sumtemp, .sumchill, .sumhumid, .sumspeed {
        font-size: 12px;
    }

    .forecasttable {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    td, th {
        border: 1px solid #000000;
        text-align: left;
        padding: 8px;
        text-align: center;
    }
    
    th {
        background-color: #b8ccc5;
    }

    .forecasttitle {
        font-size: 25px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bolder;
    }

    #articlepic {
        height: 350px;
        float: right;
    }
    
    .eventcards {
        width: 50%;
    }

    #contactimg {
        display: flex;
        height: 200px;
        width: auto;
        border: 2px solid #000000;
        float: left;
    }

    .contactaddress {
        float: left;
        margin-left: 100px;
    }

    .contact {
        font-size: 18px;
    }

    form label.sbs {
        padding: .4rem 0;
    }

}