@media only screen and (min-width: 60em) {
    header {
        height: 100px;
    }

    h1 {
        font-size: 60px;
    }

    nav a {
		font-size: 1.1rem;
    }
    
    .titles {
        font-size: 30px;
    }
    
    .info {
        font-size: 20px;
    }

    .list {
        font-size: 20px;
    }
}