@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 40px;
    }

    nav ul { 
        display: flex; 
    }

    nav ul li { 
        flex: 1 1 100%; 
    }

    nav a {
		font-size: 1rem;
    }
    
    .titles {
        font-size: 20px;
    }
    
    .info {
        font-size: 12px;
    }

    .list {
        font-size: 12px;
    }
}